*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 26, 26);
    color: white;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    border-bottom: 1px solid white;
    margin-bottom: 2vh;
    width: 100vw;
    padding: 1vh;
}
#wordSegmant {
    margin-bottom: 3vh;
}

#wordSegmant button{
    
    border: 1px solid rgb(103, 101, 101);
    background-color: transparent;
    height: 7vh;
    width: 7vh;
    margin-right: 0.5vh;
    color: white;
    font-size: 4.7vh;
    font-weight: 600;
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#keyboard button{
    width: 6vh;
    height: 6.5vh;
    color: white;
    border: 1px solid #818384;
    background-color: #818384;
    border-radius: 5px;
    margin-left: 0.1vh;
    margin-bottom: 0.5vh;
    font-size: 2.5vh;

}
#keyboard .size{
    width: 9vh;
    font-size: 2vh;
}

#main .text{
    display: none;
    position: absolute;
    background-color: #F9E795;
    width: 65vh;
    padding: 0.2% 0.5% 1% 0.5%;
}
#main .text h2{
    text-align: center;
    color: #101820;
}

#main .text p{
    color: #00246B;
}
#main .text p span{
    color: #990011;
}

@media (max-width: 600px){
    #keyboard{
        width: 100vw;
        margin-top: 3vw;
    }
    #keyboard button{
        width: 8.5vw;
        height: 12vw;
        color: white;
        border: 1px solid #818384;
        background-color: #818384;
        border-radius: 5px;
        margin-left: 0.1vw;
        margin-bottom: 2vw;
        font-size: 5vw;
    
    }

    #keyboard .size{
        width: 13vw;
        font-size: 3.5vw;
    }
}
